.header {
    color: #0e3c7e;
    border-bottom: 1px solid gray;
    text-align: center;
  }
  .user-name {
    display: flex;
    justify-content: flex-end;
    color: #000;
  }
  @media screen and (min-width: 480px) {
    .header {
      display: flex;
    }
}